.mat-card{
  width: 400px;
  height: 350px;
  margin-left:30%;
  margin-top: 5%;
  padding: 16px;
}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
